<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IEngineTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iEngine copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D353C90F1CD99631004963A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D382DFB81CE4952F00BD79C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D382DFC51CE499A800BD79C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A636E81CEC80A8001B7824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
